@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --main-color: #DD2F6E;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
  --color-bars: #222222;
  --bg-main-color: #F1F5F9;
  --bg-card-color: #FFFFFF;
  --text-card-active: #FFFFFF;
  --border-color-table: #F0F0F0;
  --head-color-table: #222222;
  --head-color-customer-info: #222222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0 1rem 2rem;
  color: #FFFFFF;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1.3rem;
}


.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
}

.sidebar-menu a.active {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0 0 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

#nav-toggle {
  display: none;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  top: 0;
  width: calc(100% - 345px);
  z-index: 100;
  transition: 300ms;
}

header h2 {
  color: var(--color-bars);
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper h4 {
  margin-bottom: 0;
}

.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background-color: var(--bg-main-color);
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-card-color);
  padding: 2rem;
  border-radius: 2px;
}

.card-single span {
  color: var(--text-grey);
}

.card-single span:first-child {
  color: var(--main-color);
  font-size: 3rem;
}

.card-single.active {
  background-color: var(--main-color);
}

.card-single.active,
.card-single.active span {
  color: var(--text-card-active);
}

.card {
  background-color: var(--bg-card-color);
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-table);
}

.card-header button {
  background-color: var(--main-color);
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

.card-header button:hover {
  cursor: pointer;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 2rem;
}

.card-body table {
  border-collapse: collapse;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

thead tr {
  border-top: 1px solid var(--border-color-table);
  border-bottom: 2px solid var(--border-color-table);
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--head-color-table);
}

td.status-column {
  display: flex;
  align-items: center;
}

td .status {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 1rem;
}

.status.pink {
  background-color: deeppink;
}

.status.purple {
  background-color: rebeccapurple;
}

.status.orange {
  background-color: orange;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--head-color-customer-info);
}

.info small {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-grey);
}

.contact span {
  font-size: 1.2rem;
  color: var(--main-color);
}

.contact span:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar li a {
    padding-left: 0;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    margin-left: 70px;
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }

  #nav-toggle:checked + .sidebar {
    left: 0;
    /*z-index: 100;*/
    width: 345px;
  }

  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }

  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;
  }

  #nav-toggle:checked ~ .main-content header {
    width: calc(100% - 345px);
    left: 345px;
  }

  #nav-toggle:checked ~ .main-content .search-wrapper{
    display: none;
  }

}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr) ;
  }

  .recent-grid {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr) ;
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .search-wrapper {
    display: none;
  }

  .sidebar {
    left: -100%;
  }

  header h2 {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }

  header h2 label {
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h2 label span {
    padding: 0;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 560px) {
  .cards {
    grid-template-columns: 100%;
  }
}


